@using iFood.Models
@model FoodItemModels

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>
<h2>Food Item: @Model.Name</h2>
<ul>
    <li>Food Type: @Model.FoodType.Name</li>
    <li>Food Description: @Model.description </li>
    <li>Food Price: @Model.Price</li>
    <li>
        <img src="@Model.FoodArtUrl" alt="@Model.Name" />
    </li>
</ul>

